################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Programming Tasks Sheet 1/Temp
/Programming Tasks Sheet 1/Library
/Programming Tasks Sheet 1/Logs
/.vs
/Programming Tasks Sheet 1/obj/Debug
/Programming Tasks Sheet 1/Assembly-CSharp.csproj
/Programming Tasks Sheet 1/Programming Tasks Sheet 1.sln
/Programming Tasks Sheet 1/.vs/Programming Tasks Sheet 1/v16
